
/* edit search input in table */
.search-table {
    background: none;
    border: 1px solid #8a8a8a;
    border-radius: 0.375rem;
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    padding: 0.5rem 0.55rem !important;
    line-height: 1.4 !important;
}

/* form cheack remove padding */
.form-check {
    padding-left: 0;
}

.left {
    float: left;
    padding-left: 20px
}


.thr {
    border-top: 1px solid rgb(243, 243, 243);
}

.bhr {
    border-bottom: 1px solid rgb(243, 243, 243);
}

tbody {
    border-bottom: 1px solid rgb(235, 235, 235);
}

tfoot {
    display: none;
}

.dataTables_info {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    color: #afafaf;
}

.dataTables_paginate {
    float: right;
    margin-top: 25px;
}
.paginate_button {
    margin: 0 2px;
    cursor: pointer;
}
.paginate_button.current{
    color: #308cff;
}
.paginate_button.next {
    float: right;
    margin: -4px 4px;
}

.paginate_button.previous {
    float: left;
    margin: -4px 4px;
}
.ellipsis{
    display: none;
}
.dataTables_filter {
    float: right;

}

.form-control.search-table {
    float: left;
    margin-top: -25%;
}

thead tr th {
    margin-left: 0;
}




.card .re {
    padding: .7% 0;
    border-radius: 15px;
    border-bottom: 2px solid rgb(233, 231, 231);
    margin-bottom: 5px
}

.card .re .co-num {
    background-color: #315399;
    padding: 1px 5px;
    border-radius: 5px;
    margin-top: 3px;
    height: 20px;
    font-size: 13px;
    color: #fff;
}

#arrow {
    cursor: pointer;
    float: right;
    background-color: #315399;
    color: #fff;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 6px;
    height: 22px;
    line-height: 1.5;
}

.btn-comment {
    background-color: #000;
    border: none;
    color: #fff;
}

aside .navbar-collapse {
    height: 1000px;
}

.table-responsive tfoot {
    display: none
}

table {
    border-bottom: 1px solid #315399
}

#session_img {
    float: left;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
}

.full_screen.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00257062;
    z-index: 1000;
}

.full_screen .closee {
    position: fixed;
    top: 60px;
    right: 70px;
    padding: 3px 12px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.384);
}

.deletee {
    position: absolute;
    top: 0px;
    right: 0.5rem !important;
    padding: 3px 12px;
    cursor: pointer;
    color: #fff;
    border-radius: 0 0 0 15px;
    background: rgba(0, 0, 0, 0.493);
    opacity: .5;
    transition: 0.4s;
}

.deletee:hover {
    opacity: 1;
}

.notify-num {
    font-size: 8px;
    background: #0055ff;
    color: #fff;
    border-radius: 20px;
    padding: 0 4px;
    margin-top: -15px;
    margin-left: -7px;
    font-weight: 800;
}

.activeted,
.inactiveted {
    background: transparent;
    border: none;
    color: #4bff00;
}

.inactiveted {
    color: #ff9c94;
}
.dropdown-menu{
    z-index: 100;
}
.notifictation-paginate .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b809a;
    padding: 0;
    margin: 0 3px;
    border-radius: 50% !important;
    width: 19px;
    height: 19px;
    font-size: 10px;
}
